#main { width: 70%; margin: auto; height: 100%;}

/* 占싸곤옙 */
#main_logo {
    height: 70px;
}
#main_logo img {
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
}

.main_searchDiv{
	width:100%;
	margin-left:10%;

}
.main_searchForm{
	width:60%;
	margin:auto;
}


/* 회占쏙옙 占쏙옙占쏙옙(占싸깍옙占쏙옙, 회占쏙옙占쏙옙占쌉듸옙 占쏙옙튼) */
.main_member {
    margin-top: 25px;
    float: right;  
}
.main_member span {
    cursor: pointer;
    color: #da405c;
    margin-right: 10px;
    font-weight: bold;
}

/* 카占쌓곤옙 */
#main_cate {
    height: 50px;
    background-color: #da405c;
}
#main_cate span {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    padding: 10px;
    
}
/* 카占쌓곤옙 占쏙옙鍛牟占� */
.dropdown {
    display: inline-block;
    width: 20%;
    margin-right: -0.5%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover {
    background: #ef5470;
}

/* 占쏙옙占쏙옙占싱듸옙 */
#main_slide { 
   
}
#main_slide img {
    width: 100%;
    height: 500px;
}
.slideBtn {
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color: white;
    text-align:center;
    cursor:pointer;
    z-index: 1;
}
.slideBtn-left {
    position: absolute;
    top:38%;
    left:auto;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.slideBtn-right {
    position: absolute;
    top:38%;
    left:83%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}
.slideBtn:hover {
    color:#000!important;
    background-color:#ccc!important;
}

/* 占쏙옙품 占쌘쏙옙 */
#main_product {
    margin: 30px 0 100px 0;
}
.product_box {
	    box-shadow : 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,1);

      display: inline-block;

    padding: 10px; 
    width: 220px;
    height: 450px;
    float: left; 
   
    margin: 20px 15px 20px;
    
    overflow: hidden;
}
.product_img {
    background: #EAEAEA;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.product_img > h1 {
    text-align: center;
    
}
.product_info {
	margin-top
}
.product_info div {
    text-align: center;
}
.float_clear {
    clear: both;
}
.place_logo2{
	width:100%;
	height:100%;
}

   body {
      background-color: white;
   }
   #place_content {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   #place_box {
    border: solid 1px black;
      display: inline-block;
      margin:auto;
      width: 45%;
      float:center;
      height: 150px;
      margin-top: 5%;
      margin-left: 2%;
      padding: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background: #FAFAFA;
      float: left;
          box-shadow : 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,1);
   }
   #place_img {
      border: solid 0.1px #EAEAEA;
      display: block;
      width: 40%;
      height: 100%;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      background-color: gray;
   }
   #place_info {
      display: block;
      height:80%;
      width: 55%;
      float: right;
      padding: 1%;
   }
   #place_img img {
      {
         width: 100%;

      }
   }
   #place_info .red {
      color: red;
   }
   h2 {
      text-align: center;
   }
   .place_search {
         margin: auto;
         width: 100%;
      }
      
         #lodging_content {
      width: 100%;
      text-align: center;
   }
   #lodging_box {
       box-shadow : 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,1);
    border: solid 1px black;
      display: inline-block;
      margin: 0 auto;
      width: 45%;
      height: 80%;
      margin-top: 5%;
      margin-left: 2%;
      padding: 2%;
   }
   #lodging_img {
      display: block;
      width: 500px;
      height: 400px;
      overflow: hidden;
   }
   #lodging_info {
      display: block;
      height: 50%;
      width: 100%;
      padding: 1%;
   }
   #lodging_img img {
      {
         width: 100%;
         border:solid 3px red;
      }
   }
   #lodging_info .red {
      color: red;
   }
   h2 {
      text-align: center;
   }
   .lodging_search {
         width: 100%;
      }
   @media all and (max-width: 639px) {
      #lodging_box {
         width: 47%;
         height: 250px;
         margin-top: 4%;
      }
      #lodging_img {
         width: 100%;
         height: 100%;
      }
      .lodging_search {
         width: 100%;
      }
   }
      

   @media all and (max-width: 639px) {
      #place_box {
         width: 80%;
         margin-top: 4%;
      }
      #place_img {
         border-radius: 50%;
      }
      .place_search {
         width: 100%;
      }
   }

