
/* ���� , 1���� 1���� 3���� 6���� �� ��ȸ Div */
.orderList_orderDate {
	margin: auto;
	margin-top: 10px;
	width: 80%;
	padding: 10px;
	border: solid 5px #EAEAEA;
}
/* ��ϸ���Ʈ table  */
.orderList_table-responsive {
	width:100%;
	margin: auto;
	text-align: center;
	position: relative;
	margin-top: 10px;
}
/* ��ϸ���Ʈ table  */
.orderList_table {
	margin: auto;
	width: 100%;
}
/* ��ǰ img   */
.orderList_table img{
	width:20%;
	margin-top:3%;
}
/* ORDER LIST���� */
.orderList_title{
	margin: auto;
	float: center;
	color: #ef5470;
}
/* ��� ��ư  */
.orderList_btn {
    color: #ef5470;
}