<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="yjc.wdb.somebodyplace.CateMapper">
  	<select id="mcateList" resultType="Mcate">
  		select * from mcate
  	</select>
  	<select id="dcateList" resultType="Dcate">
  		select * from dcate
  	</select>
  </mapper>