
/* 오늘 , 1주일 1개월 3개월 6개월 등 조회 Div */
.orderList_orderDate {
	margin: auto;
	margin-top: 10px;
	width: 80%;
	padding: 10px;
	border: solid 5px #EAEAEA;
}
/* 목록리스트 table  */
.orderList_table-responsive {
	width:100%;
	margin: auto;
	text-align: center;
	position: relative;
	margin-top: 10px;
}
/* 목록리스트 table  */
.orderList_table {
	margin: auto;
	width: 100%;
}
/* 상품 img   */
.orderList_table img{
	width:20%;
}
/* ORDER LIST제목 */
.orderList_title{
	margin: auto;
	float: center;
	color: #ef5470;
}
/* 모든 버튼  */
.orderList_btn {
    color: #ef5470;
}